<form action="/<%= @post[:id] %>" method="post">
  <div>
    <label>New Post Title</label>
    <input type="text" name="title" placeholder="What's on your mind?" value="<%= @post[:title] %>">
  </div>

  <div>
    <label>Description</label>
    <textarea name="body" rows="8" cols="80"><%= @post[:body] %></textarea>
  </div>

  <input type="submit" value="submit">

  <% if(@post[:id] !='') %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>

</form>
